@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.container, .applied-jobs-container, .login-page-container{
    width: 100%;
    min-height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container .home_page {
    width: 100%;
    min-height: 100vh;
}
.container nav {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #272727;
    border-radius: 5px;
} 

.container nav .logo {
    font-family: "sans-serif";
    font-size: clamp(10px,8vw,40px);
    font-weight: 700;
    user-select: none;
    color: #E0E0E0;
}


.container nav .links {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

nav .links button {
    color: #f1f1f1;
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: #1E1E1E;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #E0E0E0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background: none;
    color: #E0E0E0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #1E1E1E;}

.container nav .links a{
    color: #E0E0E0;
    text-decoration: none;
}

.container nav form {
    background: #1E1E1E;
    width: 230px;
    height: 40px;
    display: flex;
    border-radius: 30px;
    
    align-items: center;
}

.container  nav form input{
    background: none;
    border: none;
    outline: none;
    height: 35px;
    padding: 0 0 0 10px;
    color: #E0E0E0;
}

.container nav form button{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #32CDD5;
    border: none;
    font-size:1.1rem;
    outline: none;
    cursor: pointer;
} 

.container nav form button:hover {
    background: #32CDD58A;
}


.container .headers {
    padding: 1rem;
    margin-bottom: 1rem;
    height: 30px;
    display: flex; 
    margin-top: 50px;
    color: #E0E0E0;
}


.container .headers div{
    width: 20%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

/* Wrapper for spacing on page 
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
/* } */

/* Job list base styles */
ul.job-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Individual job item */
ul.job-list li {
    display: flex;

  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  word-wrap: break-word;
  box-sizing: border-box;
}

ul.job-list li div{
    width: 20%;
    height: 30px;
    
}



ul.job-list li button {
    background: #32CDD5;
    padding: 0.4rem;
    width: 7rem;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    z-index: 1;
    transition: 135ms ease-in-out;
}

ul.job-list li button:hover {
    background: #32CDD58A;
    scale: 105%;
}

ul.job-list li button:active {
    border: 3px solid #32CDD58A;
}

.back-btn {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    line-height: 20px;
    background: #32CDD5;
    border-radius: 50%;
    cursor: pointer;
    transition: 135ms ease-in-out;
}

.back-btn:hover{
    color: #f1f1f1;
    background: #2c2c2c ;
    scale: 105%;
}

/* Alternating dark theme colors */
ul.job-list li:nth-child(odd) {
  background-color: #2c2c2c;
  color: #f1f1f1;
}

ul.job-list li:nth-child(even) {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Hover effect */
ul.job-list li:hover {
  background-color: #3a3a3a;
  cursor: pointer;
  transition: background 0.3s ease;
}


.prev-next {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.previous-btn, .next-btn {
    width: 50px;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin: 2.5px;
    transition: 135ms ease-in-out;
}

.previous-btn:hover, .next-btn:hover {
    background-color: grey;
    color: #f1f1f1;
    scale: 105%;
}

/* Responsive typography and padding */
@media (max-width: 600px) {
  ul.job-list li {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

@media (min-width: 601px) {
  ul.job-list li {
    font-size: 1rem;
  }
}


/* LOGIN PAGE */

.login-page-container {
    width:  100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.form-container {
    background: rgba(0,0,0,0.1);
    width: 320px;
    padding: 24px;
    border-radius: 16px;
    border: solid 5px rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 30px 20px rgba(0,0,0,0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    margin-bottom: 16px;
}

.input-box {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 29px;
}

.input-box input {
    width: 100%;
    padding: 10px 16px 10px 38px;
    border-radius: 99px;
    border: solid 3px transparent;
    background: #ffffff1a;
    outline: none;
    caret-color: white;
    color: WHite;
    font-weight: 500;
    transition: 0.25s ease-in-out;
}

.input-box input:focus {
    border: solid 3px rgb(255, 255, 255, 0.25);
}

.input-box input::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.input-box input::-ms-reveal {
    filter: invert(100%);
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    color: rgb(255, 255, 255, 0.75);
    font-size: 18px;
    transition: 0.25s ease-in-out;
}

.input-box input:focus + i {
    color: white;
}

.remember-forgot-box {
    display: flex;
    width: 100%;
    margin-top: 16px;
    justify-content: space-between;
}

.remember-forgot-box h5 {
    font-weight: normal;
}

.remember-me {
    display: flex;
    gap: 8px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    margin-top: 24px;
    padding: 10px 0;
    background: #32CDD5;
    border: none;
    border-radius: 99px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    outline: transparent 3px solid;
    cursor: pointer;
    transition: 0.1s;
}

.login-button:focus {
    outline: #32CDD58A 3px solid;
}

.dont-have-an-account {
    font-weight: normal;
    margin-top: 12px;
}






/* APPLIED JOBS PAGE  */

.details {
    font-size: 1.2rem;
    color: #E0E0E0;
    margin-top: 30px;
    display: grid;
    gap: 20px;
}


















